{% extends "base.html"%} {% block content%}

<div class="our-story-container">
  <div class="about-details-container">
    <div class="about-details">
      <h1>Our Story</h1>
      <p>
        We started 37 years ago in Singapore when Yuan Hong opened a SPA in Toa
        Payoh. Her dedication to massage practices brought about loyal clients
        in Singapore and words began to spread of this unique massage sequence
        that combines the best practices in China, Sweden, and Thailand.
      </p>
      <p>
        Her Filipino husband encouraged Yuan Hong to share her curated massage
        sequences with the residents of the Philippines. Transferring her
        knowledge to Philippine talent wasn't easy but months of rigorous
        training paid off, and the story of Cedar Wellness SPA began.
      </p>
    </div>
  </div>

  <div class="mission-vision-container">
    <div class="mission-details-container">
      <h1>Our Mission</h1>
      <p>
        Internally, our mission is to offer stable and competitive jobs for the
        Filipino people by nurturing and training them to deliver exceptional
        massage sequences and superb customer service.
      </p>
      <p>
        Externally, our goal is to redefine the premium SPA experience for
        Filipinos, elevating both our massage sequences and architectural design
        standards.
      </p>
    </div>
    <div class="mission-background">
      <img src="/static/img/about_page_mission.avif" alt="" />
    </div>
    <div class="vision-background">
      <img src="/static/img/cedar_background1.jpg" alt="" />
    </div>
    <div class="vision-details-container">
      <h1>Our vision</h1>
      <p>
        Someday, the Cedar Wellness Spa logo stands as a guarantee of
        exceptional massage and customer experience, setting a new global
        standard for what a SPA should be.
      </p>
    </div>
  </div>
</div>

{% endblock%}
