{% extends 'base.html' %} {% block content%}
    <div class="bento-grid-container">
      <div class="column1-container column1">
        <div class="title">
          <p>Where Serenity Meets Healing</p>
        </div>
      </div>
      <div class="column2-container column2">
        <div class="column2-item1 column">
          <a href="/services1"class="button-container">
            <span>Book now</span>
            <img src="/static/img/home_page/arrow.png" alt="" />
          </a>
        </div>
        <div class="column2-item2 column">
          <div class="column2-item2">
            <a href="/about" class="button-container">
              <span>About Us</span>
              <img src="/static/img/home_page/arrow.png" alt="" />
            </a>
          </div>
        </div>
        <!-- <div class="column2-item3 column">
          <div class="column2-item3">
            <a class="button-container">
              <span>Inside Wellness</span>
              <img src="/static/img/home_page/arrow.png" alt="" />
            </a>
          </div>
        </div> -->
      </div>
      <div class="column3-container column3">
        <div>
          <p class="home-description">
            Step into a world where calm surrounds you. Experience soothing
            treatments, gentle relaxation, and a touch of serenity with every
            visit.
          </p>
        </div>
      </div>
    </div>

    
{% endblock %}