{% extends 'base.html' %} {% block content %}
<h2>Monitor</h2>
<audio
  id="notifySound"
  src="app/static/notification_sound.mp3"
  preload="auto"
></audio>

<div class="monitor-grid">
  <section>
    <h3>Waiting for Therapist</h3>
    <ul id="waiting_therapist"></ul>
  </section>
  <section>
    <h3>Confirmed / To Room</h3>
    <ul id="confirmed"></ul>
  </section>
  <section>
    <h3>In Service</h3>
    <ul id="in_service"></ul>
  </section>
  <section>
    <h3>Finished / Waiting Payment</h3>
    <ul id="finished"></ul>
  </section>
  <section>
    <h3>Go To Cashier</h3>
    <ul id="payment_assigned"></ul>
  </section>
  <section>
    <h3>Paid / Completed</h3>
    <ul id="paid"></ul>
  </section>
</div>
<script src="/static/js/monitor.js"></script>
{% endblock %}
