{% extends 'base.html' %} {% block content %}
<!-- <h2>Monitor</h2> -->
<audio
  id="notifySound"
  src="/static/notification_sound.mp3"
  preload="auto"
></audio>

<div class="monitor-container">
  <div class="monitor-main-details-container">
    <!-- WAITING: Shows transactions after customer confirms services, waiting for therapist -->
  <div class="waiting-container">
    <div class="monitor-heading">
      <p>WAITING</p>
    </div>
    <div id="waiting_therapist"></div>
  </div>
  
  <!-- SERVING: Shows transactions after therapist confirms, during service -->
  <div class="serving-container">
    <div class="monitor-heading">
      <p>ATTENDING TO</p>
    </div>
    <div id="serving"></div>
  </div>

  <!-- ROOM STATUS: Shows the status of all rooms -->
  <div class="room-status-container">
    <div class="monitor-heading">
      <p>ROOM STATUS</p>
    </div>
    <div id="room_status" class="room-grid"></div>
  </div>
  </div>

  
  <!-- COUNTER: Shows cashier counters with transaction codes -->
  <div class="cashier-counters-container">
    <!-- <div class="monitor-heading">
      <p>CASHIER COUNTERS</p>
    </div> -->
    <div id="cashier_counters" class="cashier-grid"></div>
  </div>
</div>
  
  
  
  <script src="/static/js/monitor.js"></script>
{% endblock %}
