{% extends 'base.html' %} {% block content %}
<!-- <h2>Monitor</h2> -->
<audio
  id="notifySound"
  src="/static/notification_sound.mp3"
  preload="auto"
></audio>

<div class="monitor-container">
  <!-- WAITING: Shows transactions after customer confirms services, waiting for therapist -->
  <div class="waiting-container">
    <div class="monitor-heading">
      <p>WAITING</p>
    </div>
    <div id="waiting_therapist"></div>
  </div>
  
  <!-- SERVING: Shows transactions after therapist confirms, during service -->
  <div class="serving-container">
    <div class="monitor-heading">
      <p>SERVING</p>
    </div>
    <div id="serving"></div>
  </div>
  
  <!-- COUNTER: Shows transactions after cashier confirms payment assignment -->
  <div class="waiting-container">
    <div class="monitor-heading">
      <p>COUNTER</p>
    </div>
    <div id="payment_assigned"></div>
  </div>
  
  <script src="/static/js/monitor.js"></script>
</div>
{% endblock %}
